@charset "UTF-8";

body {
    font-family: sans-serif;
}

.messages {
    display: inline-block;
    width: 100%;
    background-color: #FFFF73;
}
.messages ul {
    list-style-type: none;
}

.accordion-wrapper {
    display: inline-block;
    width: 40em;
}

.logo {
    float: right;
}

.helptext {
    display: block;
    font-size: 0.75em;
    color: #808080;
    margin-left: 7em;
}

.help {
    background-color: #FFFF73;
    border-radius: 10px;
    display: none;
    opacity: 0.9;
    padding: 10px;
    z-index: 100;
    position: absolute;
}

.help_link:hover + div {
    display: block;
}

table.pricereason {
    text-align: left;
    padding: 2px;
}
table.pricereason td {
    border: none;
    text-align: left !important;
    padding: 2px !important;
}
table.pricereason td.price {
    text-align: right !important;
}

td.invoiceitem input {
    width: 25em;
}

td.invoiceitemgyle input {
    width: 5em;
}

td.price {
    text-align: right;
}

.error {
    color: red;
}

td.deletebutton {
    text-align: center;
}

.invoiceitems {
    margin: 20px;
    padding: 20px;
    border: 1px solid grey;
    border-collapse: collapse;
    border-radius: 10px;
    clear: right;
}

.invoiceitems th {
    padding: 10px;
}

.invoiceitems td {
    border: 1px solid grey;
    border-width: 1px;
    padding: 4px;
}

table.productprices {
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 20px;
}

table.productprices td {
    text-align: right;
    padding: 8px;
}

table.productprices th {
    padding: 8px;
}

table.productprices tbody {
    border: 1px solid grey;
}


table.productprices col.priceband {
    border: 1px solid grey;
    padding: 4px;
}

table.kvtable th {
    text-align: right;
}
