{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}miltonxero{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
{% block style %}
<link rel="STYLESHEET" type="text/css" href="{% static "style.css" %}">
{% endblock %}
{% block jquery %}
<link rel="STYLESHEET" type="text/css" href="{% static "jquery-ui/jquery-ui.css" %}">
<script type="text/javascript" src="{% static "jquery.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-ui/jquery-ui.js" %}"></script>
{% endblock %}
{% block scripts %}
{% endblock %}
</head>
<body>
  {% if messages %}
  <div class="messages" id="messagediv">
    <a href="#" onClick="javascript:document.getElementById('messagediv').style.display='none';"><p style="text-align: right; display: block; float:right; margin-right: 20px;">X</p></a>
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
{% block body %}
{% endblock %}
</body>
</html>
