{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static "auto-complete.js" %}"></script>
<link rel="STYLESHEET" type="text/css" href="{% static "auto-complete.css" %}">
<script type="text/javascript">
  var params = {
    priceband: {{priceband.pk}},
    bill: "{{bill}}",
    contact: {{contactnumber}},
    item_completions_url: "{% url "item-completions" %}",
    item_details_url: "{% url "item-details" %}",
  };
</script>
<script type="text/javascript" src="{% static "invoicer/invoice-updates.js" %}"></script>
{% endblock %}
{% block title %}{{contactname}} {% if bill %}bill{% else %}invoice{% endif %}{% endblock %}
{% block body %}
<h1>{% if bill %}Bill from{% else %}Invoice for{% endif %} {{contactname}}</h1>
<form method="POST" id="invoiceform">{% csrf_token %}
  {{cform.as_p}}
  {{iform.management_form}}
  <table class="invoiceitems">
    <thead>
      <tr>
	{% if iform.can_delete %}
	<th scope="col">Delete</th>
	{% endif %}
	<th scope="col">Item</th>
	<th scope="col">Gyle</th>
	<th scope="col">ABV</th>
	<th scope="col">Barrels</th>
	<th scope="col">Price/barrel</th>
	<th scope="col">Total ex&nbsp;VAT</th>
	<th scope="col">Total inc&nbsp;VAT</th>
	<th scope="col">Account</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {% for form in iform %}
      <tr>
	{% if iform.can_delete %}
	<td class="deletebutton">{{form.DELETE}}</td>
	{% endif %}
	<td class="invoiceitem">
	  {{form.item.as_widget}}
	  {% if form.item.errors %}
	  <ul class="errorlist">
	    {% for err in form.item.errors %}
	    <li>{{err}}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	</td>
	<td class="invoiceitemgyle">
	  {{form.gyle.as_widget}}
	  {% if form.gyle.errors %}
	  <ul class="errorlist">
	    {% for err in form.gyle.errors %}
	    <li>{{err}}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	</td>
	<td id="{{form.item.html_name}}-abv">{{form.abv}}</td>
	<td id="{{form.item.html_name}}-barrels">{{form.barrels}}</td>
	<td id="{{form.item.html_name}}-barrelprice" class="price">
	  {% include "invoicer/pricedetail.html" with price=form.barrelprice reasons=form.barrelreasons product=form.product %}
	</td>
	<td id="{{form.item.html_name}}-total" class="price exvat">{{form.totalprice}}</td>
	<td id="{{form.item.html_name}}-incvat" class="price incvat">{{form.priceincvat}}</td>
	<td id="{{form.item.html_name}}-account">{{form.account}}</td>
	<td id="{{form.item.html_name}}-error" class="error">{% for e in form.non_field_errors %}{{e}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      </tr>
      <script type="text/javascript">
	addAutoComplete("{{form.item.html_name}}");
      </script>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr><td colspan="5"></td>
	<td id="total-ex-vat" class="price"></td>
	<td id="total-inc-vat" class="price"></td>
	<td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
  <p><a href="{% url 'add-product' %}" target="_blank">New product.</a> (Follow link from price/barrel to edit existing products.)</p>
  <input type="submit" name="save" value="Save / update">
  <input type="submit" name="send" value="Send to Xero and view in Xero">
  <input type="submit" name="send-background" value="Send to Xero and start another">
  <input type="submit" name="clear" value="Clear invoice without sending">
</form>
<script type="text/javascript">
  $('input[type=checkbox]').each(function () {
  this.tabIndex=-1;
  });
  updateTotals();

  $( function() {
  $("#id_date").datepicker({
    dateFormat: "dd/mm/yy"});
  });
</script>

{% if rules %}
<h3>Price rules that apply only to this contact</h3>
<ul>
  {% for r in rules %}
  <li><a href="{% url "admin:invoicer_price_change" r.pk %}">{{r}}</a></li>
  {% endfor %}
</ul>
{% endif %}

<p><a href="{% url "new-invoice" %}">Choose another contact</a></p>
<p><a href="https://go.xero.com/organisationlogin/default.aspx?shortcode={{shortcode}}&amp;redirecturl=/AccountsReceivable/Search.aspx?invoiceStatus=INVOICESTATUS/DRAFT">Go to draft invoices</a></p>
<p class="helptext">Hint: You can bookmark this page if you regularly
{% if bill %}receive bills from{% else %}send invoices to{% endif %}
this {% if bill %}supplier{% else %}customer{% endif %}.</p>

{% endblock %}
