{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static "auto-complete.js" %}"></script>
<link rel="STYLESHEET" type="text/css" href="{% static "auto-complete.css" %}">
<script type="text/javascript">
  var params = {
    priceband: {{priceband.pk}},
    item_completions_url: "{% url "invoicer.views.item_completions" %}",
    item_details_url: "{% url "invoicer.views.item_details" %}",
  };
</script>
<script type="text/javascript" src="{% static "invoicer/invoice-updates.js" %}"></script>
{% endblock %}
{% block title %}{{contactname}} invoice{% endblock %}
{% block body %}
<h1>Invoice for {{contactname}}</h1>
<form method="POST" id="invoiceform">{% csrf_token %}
  {{cform.as_p}}
  {{iform.management_form}}
  <table class="invoiceitems">
    <thead>
      <tr>
	{% if iform.can_delete %}
	<th>Del</th>
	{% endif %}
	<th>Item</th>
	<th>ABV</th>
	<th>Barrels</th>
	<th>Price/barrel</th>
	<th>Total ex&nbsp;VAT</th>
	<th>Total inc&nbsp;VAT</th>
	<th>Account</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {% for form in iform %}
      <tr>
	{% if iform.can_delete %}
	<td class="deletebutton">{{form.DELETE}}</td>
	{% endif %}
	<td class="invoiceitem">
	  {{form.item.as_widget}}
	  {% if form.item.errors %}
	  <ul class="errorlist">
	    {% for err in form.item.errors %}
	    <li>{{err}}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	</td>
	<td id="{{form.item.html_name}}-abv">{{form.abv}}</td>
	<td id="{{form.item.html_name}}-barrels">{{form.barrels}}</td>
	<td id="{{form.item.html_name}}-barrelprice" class="price">
	  {% include "invoicer/pricedetail.html" with price=form.barrelprice reasons=form.barrelreasons product=form.product %}
	</td>
	<td id="{{form.item.html_name}}-total" class="price exvat">{{form.totalprice}}</td>
	<td id="{{form.item.html_name}}-incvat" class="price incvat">{{form.priceincvat}}</td>
	<td id="{{form.item.html_name}}-account">{{form.account}}</td>
	<td id="{{form.item.html_name}}-error" class="error">{% for e in form.non_field_errors %}{{e}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      </tr>
      <script type="text/javascript">
	addAutoComplete("{{form.item.html_name}}");
      </script>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr><td colspan="5"></td>
	<td id="total-ex-vat" class="price"></td>
	<td id="total-inc-vat" class="price"></td>
	<td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
  <p><a href="{% url 'invoicer.views.product' %}" target="_blank">New product.</a> (Follow link from price/barrel to edit existing products.)</p>
  <input type="submit" name="save" value="Save / update">
  <input type="submit" name="send" value="Send to Xero and view in Xero">
  <input type="submit" name="send-background" value="Send to Xero and start another invoice">
</form>
<script type="text/javascript">
  $('input[type=checkbox]').each(function () {
  this.tabIndex=-1;
  });
  updateTotals();
</script>

<p><a href="{% url "invoicer.views.startinvoice" %}">Choose another
    contact</a></p>
<p class="helptext">Hint: You can bookmark this page if you regularly
send invoices to this customer.</p>

{% endblock %}
