{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static "auto-complete.js" %}"></script>
<link rel="STYLESHEET" type="text/css" href="{% static "auto-complete.css" %}">
{% endblock %}
{% block title %}Create invoice{% endblock %}
{% block body %}
<h1>Invoice for {{contactname}}</h1>
<script type="text/javascript">
  var autocompletes = new Array();

  var updateDesc = function(basename, response){
    document.getElementById(basename+"-abv").innerHTML = response['abv'];
    document.getElementById(basename+"-barrels").innerHTML = response['barrels'];
    document.getElementById(basename+"-barrelprice").innerHTML = response['barrelprice'];
    document.getElementById(basename+"-total").innerHTML = response['total'];
    document.getElementById(basename+"-incvat").innerHTML = response['incvat'];
    document.getElementById(basename+"-account").innerHTML = response['account'];
    document.getElementById(basename+"-error").innerHTML = response['error'];
  };

  var addAutoComplete = function(basename){
    autocompletes[basename] = new autoComplete({
      selector: 'input[name="'+basename+'"]',
      minChars: 5,
      cache: false,
      source: function(term, response){
        $.getJSON('{% url "invoicer.views.item_completions" %}', { q: term },
        function(data) { response(data); });
      },
      onSelect: function(event, term, item){
        $.getJSON('{% url "invoicer.views.item_details" %}',
          { q: term, b: {{priceband.pk}} },
            function(data) { updateDesc(basename, data); });
      },
    });
  };
</script>
<form method="POST">{% csrf_token %}
  {{cform.as_p}}
  {{iform.management_form}}
  <table class="invoiceitems">
    <thead>
      <tr>
	{% if iform.can_delete %}
	<th>Delete?</th>
	{% endif %}
	<th>Item</th>
	<th>ABV</th>
	<th>Barrels</th>
	<th>Price/barrel</th>
	<th>Total</th>
	<th>Total inc VAT</th>
	<th>Account</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      {% for form in iform %}
      <tr>
	{% if iform.can_delete %}
	<td class="deletebutton">{{form.DELETE}}</td>
	{% endif %}
	<td class="invoiceitem">
	  {{form.item.as_widget}}
	  {% if form.item.errors %}
	  <ul class="errorlist">
	    {% for err in form.item.errors %}
	    <li>{{err}}</li>
	    {% endfor %}
	  </ul>
	  {% endif %}
	  <script type="text/javascript">
	    addAutoComplete("{{form.item.html_name}}");
	  </script>
	</td>
	<td id="{{form.item.html_name}}-abv">{{form.abv}}</td>
	<td id="{{form.item.html_name}}-barrels">{{form.barrels}}</td>
	<td id="{{form.item.html_name}}-barrelprice" class="price">
	  {% include "invoicer/pricedetail.html" with price=form.barrelprice reasons=form.barrelreasons %}
	</td>
	<td id="{{form.item.html_name}}-total" class="price">{{form.totalprice}}</td>
	<td id="{{form.item.html_name}}-incvat" class="price">{{form.priceincvat}}</td>
	<td id="{{form.item.html_name}}-account">{{form.account}}</td>
	<td id="{{form.item.html_name}}-error" class="error">{% for e in form.non_field_errors %}{{e}}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" name="save" value="Save / update">
  <input type="submit" name="send" value="Send to Xero">
</form>
<script type="text/javascript">
  $('input[type=checkbox]').each(function () {
  this.tabIndex=-1;
  });
</script>

<p><a href="{% url "invoicer.views.startinvoice" %}">Choose another
    contact</a></p>
{% endblock %}
