{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static "auto-complete.js" %}"></script>
<link rel="STYLESHEET" type="text/css" href="{% static "auto-complete.css" %}">
{% endblock %}
{% block title %}Choose contact for invoice{% endblock %}
{% block body %}
<h1>Milton Beer Invoice Tool</h1>
<h2>Choose a contact to invoice</h2>
<form method="POST">{% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Choose contact">
</form>
<script type="text/javascript">
var contact_autoComplete = new autoComplete({
  selector: 'input[name="name"]',
  minChars: 2,
  source: function(term, response){
    $.getJSON('{% url "invoicer.views.contact_completions" %}', { q: term },
    function(data) { response(data); });
  }
});
</script>

<h2>Maintenance options</h2>
<p><a href="https://go.xero.com/Contacts/Edit.aspx">Add a new contact.
(Contacts cannot be removed once added.)</a></p>

<p><a href="{% url "admin:invoicer_product_changelist" %}">Add, edit
or remove products.</a></p>

{% if bands %}
<p>The following price bands are defined:</p>
<ul>
  {% for b in bands %}
  <li><a href="{% url "invoicer.views.priceband" b.pk %}">{{b.name}}</a></li>
  {% endfor %}
</ul>
{% endif %}

<p><a href="{% url "admin:invoicer_priceband_changelist" %}">Add, edit or
remove price bands.</a></p>

{% endblock %}
