{% extends "base.html" %}
{% load staticfiles %}
{% block scripts %}
<script type="text/javascript" src="{% static "auto-complete.js" %}"></script>
<link rel="STYLESHEET" type="text/css" href="{% static "auto-complete.css" %}">
{% endblock %}
{% block title %}Choose contact for invoice{% endblock %}
{% block body %}
<img src="{% static "milton.png" %}" class="logo">
<h1>Milton Beer Invoice Tool</h1>

<div class="accordion-wrapper">
<div id="accordion">
  <h3>Contacts</h3>
  <div>
    <form id="contactform" method="POST">{% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Create invoice">
    </form>
<script type="text/javascript">
var contact_autoComplete = new autoComplete({
  selector: 'input[name="name"]',
  minChars: 2,
  source: function(term, response){
    $.getJSON('{% url "invoicer.views.contact_completions" %}', { q: term },
    function(data) { response(data); });
  },
  onSelect: function(event, term, item){
    document.getElementById("contactform").submit();
  },
});
</script>
    <p><a href="https://go.xero.com/Contacts/Edit.aspx">Add a new
contact.  (Contacts cannot be removed once added.)</a></p>
  </div>
  <h3>Maintenance options</h3>
  <div>
    <p><a href="{% url "invoicer.views.product" %}"
    target="_blank">Add a product</a></p>
    <p><a href="{% url "admin:invoicer_product_changelist" %}">Edit or remove products</a></p>

    {% if bands %}
    <p>View or update a price band:</p>
    <ul>
      {% for b in bands %}
      <li><a href="{% url "invoicer.views.priceband" b.pk %}">{{b.name}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    <p><a href="{% url "admin:invoicer_priceband_changelist" %}">Add
	or remove price bands</a></p>

    <p><a href="{% url "admin:index" %}">Other maintenance options</a></p>
  </div>
</div>
</div>

<script type="text/javascript">
  $(function() {
    $( "#accordion" ).accordion();
  });
</script>

{% endblock %}
